services:
  nats:
    image: nats:latest
    ports:
      - "10222:4222"
      - "11222:8222"
    command: ["--jetstream", "-m", "8222"]
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:8222/healthz"]
      interval: 5s
      timeout: 5s
      retries: 3
